{% extends "base_template.html" %}
{% block title %}Followers{% endblock %}
{% block content %}
<br>
<div class="input-group">
    <form action="#" method="POST">
        {% csrf_token %}
        <input type="search" name="search" class="form-control rounded" placeholder="Enter a username" id="form_f"
            aria-label="Search" aria-describedby="search-addon"/>


        <button type="submit" id="form_f">Follow</button>
    </form>
</div>
<div class="ticket_snippet">
    <h3>Followers</h3>

    {% for userfollow in userfollows %}
    <div class="follows_snippet">
        <p class="username">{{userfollow.followed_user}}</p><a href="unfollow/{{userfollow.followed_user}}"><button
                type="button" class="unfollowbutton">Unfollow</button></a>
    </div>
    {% endfor %}

</div>
<div class="ticket_snippet">
    <h3>Followers</h3>
    {% for follower in followers %}
    <div class="follows_snippet">
        <p>{{follower.user}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}