<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<header>
    <h3>LITReview</h3>
</header>

<body>
    <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>Vous avez un compte?</h2>
            <p></p>
            <label id="label-register" for="log-reg-show">Se connecter</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>Vous n'avez pas de compte?</h2>
            <p></p>
            <label id="label-login" for="log-login-show">S'inscrire</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <div class="login-show">
                <h2>Se connecter</h2>
                <form action="/flux/log_user" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nom d'utilisateur">
                    <input type="password" name="password" placeholder="Mot de passe">
                    <input type="submit" value="Se connecter">
                </form>

            </div>
            <div class="register-show">
                <h2>S'inscrire</h2>
                <form action="/flux/create_user" method="POST">
                    {% csrf_token %}
                    <input type="text" name="register_name" placeholder="Nom d'utilisateur">
                    <input type="password" name="pass1" placeholder="Mot de passe">
                    <input type="password" name="pass2" placeholder="Confirmez le mot de passe">
                    <input type="submit" value="S'inscrire">
                </form>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>

</body>

</html>